<!doctype html>
<html>
<head>
    <%- include("./partials/head")%>
</head>
<body>
    <header>
        <%- include("./partials/header")%>
    </header>

    <div class="container w-96 mx-auto border border-black rounded-sm p-2 m-4">
        <div class="mx-auto">
            <h3 class="text-bold text-center">welcome to registration page</h3>
        </div>
        <form class="flex flex-col gap-2">
            <label>full name</label>
            <input type="text" name="fullname" class="border border-black" />
            <label>username</label>
            <input type="text" name="username" class="border border-black" />
            <label>email address</label>
            <input type="text" name="email" class="border border-black" />
            <label>password</label>
            <input type="text" name="password" class="border border-black" />

            <input type="submit" name="submit" class="bg-slate-400 rounded-sm" />
        </form>
    </div>

    <footer>
        <%- include("./partials/footer")%>
    </footer>

</body>
</html>
